@viewport{
	width:device-width;
}
@font-face {
    font-family: Terminator;
    src: url(terminator.ttf);
    font-weight:400;
}
body{
    background-image:url('../images/bg-noise-tile.png');
}
.title{
    font-family:Terminator;
    font-size: 2em;
    margin-top: 50px;
}
.titleDiv{
    text-align: center;
}
div.profile_pic{
    border:1px solid gray;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 50px;
    width:250px;
    padding:10px;
    background-color:#FFFFFF;
}
#text{
    height:100%;
}
#submit{
    height:100%;
}
div.textRow{
    height:50px;
}
