<html>
<meta name="viewport" content="width=device-width" />
<head>
  <title>Funds</title>
  <link rel="stylesheet" href="/lib/foundation/css/foundation.min.css"/>
  <link rel="stylesheet" href="/style/app.css"/>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
  <script src="/script/funds.js"></script>
</head>
<body>
  <% include navbar %>
  <div class="row">
    <div class="large-4 large-offset-4 columns">
      <form method="POST" action="/login">
        <% if (locals.errors && errors.username) { %><label for="username" class="error"><%= errors.username.message %></label><% } %>
        <input class="<% if (locals.errors && errors.username) { %>error<% } %>" type="text" placeholder="username" name="username" value="<% if (locals.request) { %><%= slate.nullSafe(request.username) %><% } %>"/>
        <% if (locals.errors && errors.password) { %><label for="password" class="error"><%= errors.password.message %></label><% } %>
        <input class="<% if (locals.errors && errors.password) { %>error<% } %>" type="password" placeholder="password" name="password" value="<% if (locals.request) { %><%= slate.nullSafe(request.password) %><% } %>"/>
        <input class="button" type="submit" value="submit"/>
      </form>
    </div>
  </div>
</body>
</html>
