<html>
<meta name="viewport" content="width=device-width" />
<head>
  <title>Funds</title>
  <link rel="stylesheet" href="foundation/css/foundation.min.css"/>
  <link rel="stylesheet" href="/style/funds.css"/>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
  <script src="/script/funds.js"></script>
</head>
<body>
  <% include navbar %>
  <% if(error == true){ %>
    !error
  <% } %>
  <div class="row">
    <div class="large-4 large-offset-4 columns">
      <form method="POST" action="/login">
        <input type="text" placeholder="username" name="username"/>
        <input type="password" placeholder="password" name="password"/>
        <input class="button" type="submit" value="submit"/>
      </form>
    </div>
  </div>
</body>
</html>
