<div class="login" ng-controller="LoginController">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="title">Funds</h1>
                <p class="subtitle">Funds is a mobile-friendly web application to help you keep track of your budget, and allow you to pinpoint where you spend most of your money! Track your spending from anywhere!</p>
            </div>
        </div>
        <form role="form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" placeholder="username" type="text" type="text" ng-model="username"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="password" type="password" ng-model="password"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="password confirmation" type="password" ng-model="password_confirmation"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="email" ng-model="email"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <button type="submit" ng-click="signup(username, password, password_confirmation, email)" class="btn btn-primary btn-block">Create Account</button>
                </div>
            </div>
        </form>
    </div>
</div>
