<div class="accounts" ng-controller="TransactionsController">
    <nav class="navbar navbar-default funds-navbar" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Funds</a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        Transactions:
        <div class="row" ng-repeat="transaction in transactions">
            <div class="transaction">
                <div class="name">{{transaction.name}}</div>
            </div>
        </div>
        <div ng-if="transactions.length < 1" class="row">
            You don't seem to have any accounts, try creating one.
        </div>
    </div>
</div>
